* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
  list-style: none;

}

img {
  width: 100%;
}


a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}
/* PALETTE COLORI */

:root {
  --blue:#0084FD;
  --light-blue:#B5DDFF;
  --purple:#9792E4;
  --yellow:#FDC15F;
  --dark-grey:#333333;
  --light:#FFFFFF;

}
/* LAYOUTS */

.container {
  max-width: 1164px;
  margin: 0 auto;
}

.container-medium {
  max-width: 1000px;
  margin: 0 auto;
}

.container-small {
  max-width: 758px;
  margin: 0 auto;
  padding: 0 24px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  flex-basis: calc((100% / 12) * 4);
}

.col-3 {
  flex-basis: calc((100% / 12) * 3);
}

.col-6 {
  flex-basis: calc((100% / 12) * 6);
}

.col-8 {
  flex-basis: calc((100% / 12) * 8);
}

.col-9 {
  flex-basis: calc((100% / 12) * 9) ;
}

.col-12 {
  flex-basis: calc((100% / 12) * 12);
}

/* UTILITY CLASSES */

.justify-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

/* COMPONENT CLASSES */

.button {
  color: black;
  line-height: 40px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 0 18px;
  
}

/* HEADER */
header {
  background-color: var(--blue);
  padding: 20px;
  color: var(--light);
  margin-bottom: 50px;
}

header .navbar-list {
  display: flex;
  gap: 22px;
  align-items: center;
}

header .ham-menu {
  display: none;
}
/* FINE HEADER */

/* INIZIO MAIN */

  /* section hero */
.hero {
  margin-bottom: 100px;
}

.hero .row {
  gap: 24px;
}

.hero .col-8 {
  flex-basis: calc((100% / 12) * 8 - 24px);
}

.hero .col-4 {
  flex-basis: calc((100% / 12) * 4 - 24px);
}

.hero .col-content {
  padding: 36px 22px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  line-height: 32px;
}

.hero .col-content h3{
  color: #0084FD;
}

.hero .col-content .button {
  background-color: var(--blue);
  color: var(--light);
  padding: 0 26px;
  max-width: 200px;
}

.hero .col-4 .col-content {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero .col-8, .hero .col-4 {
  border-radius: 22px;
  background-color: var(--light-blue);
}

.hero .col-4 i {
  font-size: 90px;
  color: #0084FD;
}

.hero .col-4 {
  display: flex;
}

.hero .col-8 {
   display: flex;
}

.hero .col-8 .col-content, 
.hero .col-8 .col-img  {
  flex-basis: 50%;
}

.hero .col-8 .col-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hero .col-8 .col-img img{
 width: 70%;
}
/* fine section hero */

/* inizio section 2 */
.section-2 {
  background-color: var(--purple);
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.section-2 .text-in, 
.section-2 .text-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}



.section-2 .text-out {
  color: var(--light);
}

.section-2 .text-out-container {
  max-width: 340px;
}

.section-2 .text-out img{
  padding: 80px 0;
}

.section-2 .text-out h3{
  padding-bottom:50px;
  font-size: 32px;
}

.section-2 .text-out p{
  line-height: 26px;
}

.section-2 .text-in .text-in-container {
  max-width: 290px;
  text-align: center;
  background-color: var(--light);
  border-radius: 30px;
  padding:30px 15px;
}

.section-2 .text-in h4 {
  padding: 16px 0;
}

.section-2 .text-in p {
  font-style: italic;
}

.section-2 .text-in .arrow-down {
 background-color: #9792E4;
 display: inline-block;
 padding: 10px 14px;
 border-radius: 50%;
 margin-top: 16px;
}
/* fine section 2 */

/* inizio section testimonials */
.testimonials .container {
  padding: 0 24px;
}

.testimonials .row {
  flex-direction: column;
}

.testimonials .testimonials-body .col-12 {
  display: flex;
  color: var(--light);
  border-radius: 42px;
  background-color: #9792E4;
  margin-bottom: 20px;
}

.testimonials .testimonials-header {
  text-align: center;
  line-height: 26px;
}

.testimonials-header h2 {
  padding: 26px 0;
  color: var(--purple);
  font-size: 26px;
}

.testimonials-header p {
  padding-bottom: 26px;
}

.testimonials-body img {
  padding: 20px 10px;
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.testimonials-body .testimonials-img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 22px;
  gap:16px;
}

.testimonials-body .testimonials-img-text i{
  line-height: 24px;
  vertical-align: text-bottom;
}

.testimonials-body .testimonials-img-text p {
  font-weight: lighter;
}

.testimonials-body .testimonials-img-text span {
  font-weight: 500;
}

.testimonials-body .col-12:last-child {
  margin-bottom: 80px;
}
/* fine section testimonials */

/* inizio section benefits */
.benefits {
  background-color: var(--purple);
  padding-bottom: 44px;
}

.benefits .container {
  padding-left: 40px;
}

.benefits .row {
  flex-direction: column;
}

.benefits .benefits-title {
  align-self: center;
  color: var(--light);
  font-size : 26px;
  padding: 32px 0;
}

.benefits .benefits-cards {
  display: flex;
  flex-wrap:wrap;
  row-gap: 30px;
}

.benefits-cards .col-4 {
  padding-right: 40px;
}

.benefits-cards .card-container {
  background-color: var(--light);
  border-radius: 20px;
  padding: 16px;
}

.benefits-cards .card-container .card-header {
  color: var(--purple);
}

.benefits-cards .card-container .card-header h2 {
  font-size: 50px;
}

.benefits-cards .card-container .card-body p {
  padding: 20px 0;
  color: #919191;
}

.benefits-cards .card-container .card-button .button {
  background-color: var(--purple);
  color: var(--light);
  display: inline-block;
  line-height: 30px;
  padding: 0 26px;
}
/* fine section benefits */

/* inizio section about us */

/* fine section about us */
  
/* FINE MAIN */


/* RESPONSIVE */

/* small devices */
@media (min-width: 100px) { 

  /* header */

  header .ham-menu {
    display: block;
    font-size: 26px;
  }

  header .flex-ham {
    display: flex;
    align-items: center;
  }

  header .navbar-list {
    display: none;
  }
  /* fine header */

  /* hero section */
  .hero .container {
    padding: 0 24px;
  }
  
  .hero .col-8 {
    flex-direction: column;
    flex-basis: 100%;
  }

  .hero .col-8 .col-content {
    align-items: center;
  }

  .hero .col-8 .col-img img {
    width: 40%;
  }

  .hero .col-4 {
    flex-basis: 100%;
  }
  /* fine hero section */

  /* inizio section 2 */
  
  .section-2 .text-out {
    flex-basis: 100%;
  }

  .section-2 .text-in {
    flex-basis: 100%;
    margin-top: 40px;
  }

  .section-2 .text-in .text-in-container {
    max-width: 340px;
  }
  /* fine section 2 */

  /* inizio section testimonials */
  .testimonials .col-12 {
    flex-direction: column;
    text-align: center;
  }

  .testimonials .testimonials-img-text span {
    padding-bottom: 12px;
  }
  /* fine section testimonials */

  /* inizio section benefits */
  .benefits .benefits-title {
    text-align: center;
  }
  .benefits .col-4 {
    flex-basis: 100%;
  }
  /* fine section benefits */
 }

 /* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) { 

  /* hero section */
  .hero .container {
    padding: 0;
    padding-left: 24px;
  }

  .hero .col-8 {
    flex-basis: calc((100% / 12) * 8 - 24px);
  }
  .hero .col-8 .col-img {
    align-items: flex-start;
  }

  .hero .col-8 .col-content {
    align-items: flex-start;
  }

  .hero .col-4 {
    flex-basis: calc((100% / 12) * 4 - 24px);
  }
  /* fine hero section  */

  /* inizio section 2 */
  .section-2 .text-in .text-in-container {
    max-width: 100%;
  }

  .section-2 .text-out .text-out-container {
    max-width: 100%;
  }

  .section-2 .text-out h3{
    font-size: 52px;
  }
  /* fine section 2 */

  /* inizio section testimonials */
  .testimonials .col-12 {
    flex-direction: row;
    text-align: initial;
  }
  /* fine section testimonials */

  /* inizio section benefits */
  .benefits .benefits-title {
    text-align: initial;
  }
  .benefits .col-4 {
    flex-basis:50%;
  }
  /* fine section benefits */
}

 /* Large devices (desktops, 992px and up) */

@media (min-width: 992px) { 

  /* header */

  header .ham-menu {
    display: none;
  }

  header .navbar-list {
    display: flex;
  }
  /* fine header */

  /* hero section */

  .hero .col-8 {
    flex-direction: row;
  }

  .hero .col-8 .col-img img {
    width: 70%;
  }
  /* fine hero section  */

  /* section 2 */
  .section-2 .text-out {
    flex-basis: 50%;
  }

  .section-2 .text-in {
    flex-basis: 50%;
  }

  .section-2 .text-in .text-in-container {
    max-width: 290px;
  }

  .section-2 .text-out .text-out-container {
    max-width: 340px;
  }

  .section-2 .text-out h3{
    font-size: 32px;
  }
  /* fine section 2 */

  /* inizio section benefits */
  .benefits .col-4 {
    flex-basis: calc((100% / 12) * 4);
  }
  /* fine section benefits */
}




