* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
  list-style: none;

}

img {
  width: 100%;
}


a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}
/* PALETTE COLORI */

:root {
  --blue:#0084FD;
  --light-blue:#B5DDFF;
  --purple:#9792E4;
  --yellow:#FDC15F;
  --dark-grey:#333333;
  --light:#FFFFFF;

}
/* LAYOUTS */

.container {
  max-width: 1164px;
  margin: 0 auto;
}

.container-medium {
  max-width: 1050px;
  margin: 0 auto;
}

.container-small {
  max-width: 880px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  flex-basis: calc((100% / 12) * 4);
}

.col-6 {
  flex-basis: calc((100% / 12) * 6);
}

.col-8 {
  flex-basis: calc((100% / 12) * 8);
}

.col-12 {
  flex-basis: calc((100% / 12) * 12);
}

/* UTILITY CLASSES */

.justify-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}


/* COMPONENT CLASSES */

.button {
  color: black;
  line-height: 40px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 0 18px;
  display: inline-block;
}

/* DEBUG */

 .col-8 {
  border: solid 1px;
 }

 .col-4 {
  border: solid 1px;
 }



/* HEADER */
header {
  background-color: var(--blue);
  padding: 20px;
  color: var(--light);
  margin-bottom: 50px;
}

header .navbar-list {
  display: flex;
  gap: 22px;
  align-items: center;
}

header .ham-menu {
  display: none;
}
/* FINE HEADER */

/* INIZIO MAIN */

  /* section hero */

.hero .col-content {
  padding: 36px 22px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  line-height: 32px;
}

.hero .col-content h3{
  color: #0084FD;
}

.hero .col-content .button {
  background-color: var(--blue);
  color: var(--light);
  padding: 0 26px;
  max-width: 200px;
}

.hero .col-4 .col-content {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero .col-8, .hero .col-4 {
  border-radius: 22px;
  background-color: var(--light-blue);
}

.hero .col-4 i {
  font-size: 90px;
  color: #0084FD;
}

.hero .col-4 {
  display: flex;
}

.hero .col-8 {
   display: flex;
}

.hero .col-8 .col-content, 
.hero .col-8 .col-img  {
  flex-basis: 50%;
}

.hero .col-8 .col-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero .col-8 .col-img img{
  display: block;
  width: 80%;
}

/* FINE MAIN */


/* RESPONSIVE */

@media (min-width: 0px) { 
  header .ham-menu {
    display: block;
    font-size: 26px;
  }

  header .flex-ham {
    display: flex;
    align-items: center;
  }
  header .navbar-list {
    display: none;
  }
 }

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) { 
  
 }

 /* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) { 

}

 /* Large devices (desktops, 992px and up) */

@media (min-width: 992px) { 
  /* header */
  header .ham-menu {
    display: none;
  }

  header .navbar-list {
    display: flex;
  }
}




